<section class="container">
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <div class="mb-3">
            <label class="form-label" for="post-title">Title:</label>
            <input class="form-control" type="text" id="post-title" name="post-title"/>
        </div>
        <div class="mb-3">
            <textarea class="form-control" name="post_content" id="post-content"></textarea>
        </div>
        <button class="btn btn-secondary" type="submit">Create</button>
    </form>
</section>
{{#if posts.length}}
<section>
    <h2>Your Posts:</h2>
    <ul>
        {{#each posts as |post|}}
        <li>
            {{>posts post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-dark">Edit post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>