<form id="login-form">
    <h2>Login:</h2>
    <div>
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="login-username"/>
    </div>
    <div>
        <label for="login-pw">Password:</label>
        <input type="password" id="login-pw" name="login-pw"/>
    </div>
    <button type="submit" id="login-submit">login</button>
</form>
<form id="register-form">
    <h2>Register:</h2>
    <div>
        <label for="register-email">Email:</label>
        <input type="text" id="register-email" name="register-email">
    </div>
    <div>
        <label for="register-username">Username:</label>
        <input type="text" id="register-username" name="register-username"/>
    </div>
    <div>
        <label for="register-pw">Password:</label>
        <input type="password" id="register-pw" name="register-pw">
    </div>
    <button type="submit" id="register-submit">Register</button>
</form>
<script src="/javascript/login.js"></script>