<form id="login-form" class="container">
    <div class="row">
        <h2 class="col-4">Login:</h2>
    </div>
    <div class="mb-3">
        <label for="login-username" class="form-label">Username:</label>
        <input class="form-control" type="text" id="login-username" name="login-username"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="login-pw">Password:</label>
        <input class="form-control" type="password" id="login-pw" name="login-pw"/>
    </div>
    <button class="btn btn-secondary" type="submit" id="login-submit">login</button>
</form>
<form id="register-form" class="container">
    <div class="row">
        <h2 class="col-4">Register:</h2>
    </div>
    <div class="mb-3">
        <label class="form-label" for="register-email">Email:</label>
        <input class="form-control" type="text" id="register-email" name="register-email">
    </div>
    <div class="mb-3">
        <label class="form-label" for="register-username">Username:</label>
        <input class="form-control" type="text" id="register-username" name="register-username"/>
    </div>
    <div class="mb-3">
        <label class="form-label" for="register-pw">Password:</label>
        <input class="form-control" type="password" id="register-pw" name="register-pw">
    </div>
    <button class="btn btn-secondary" type="submit" id="register-submit">Register</button>
</form>
<script src="/javascript/login.js"></script>